#map {
    height: 100%;
   
  }
  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

/* menu css */
nav{
   background-color: rgb(36, 35, 35);
   font-family: 'Lacquer', sans-serif;
  }

.brand-logo{
    margin-left: 20px;
  }

a{
   color: ghostwhite;
  }

a:hover{
   color: red;
  }

.dropdown-content li>a{
    background-color: rgb(36, 35, 35);
    color: ghostwhite;
    font-size: 15px;
  }

.dropdown-content li>a:hover{
    color: red;
  }

.ul.right{
    margin-right: 20px;
    padding-right: 20px;
  }


 
  /* footer css */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

.footer-copyright{
  background-color: rgb(36, 35, 35);
  color: ghostwhite;
  text-align: center;
  height: 50px;
  font-family: 'Lacquer', sans-serif;
}

.container{
  margin-top: 10px;
}


