#map {
    height: 100%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .menu{
    background-color: rgb(50, 49, 49);
    font-size: 30px;
  }

  a{
    color: ghostwhite;
  }

  a:hover{
    color: red;
  }

  #years{
    font-size: 15px;
  }
